* {
    font-family: 'Trispace', monospace;
}
img {
    width: auto;
    height: 300px;
}

li {
    color: gray;
    font-size: 18px;
}

h1 {
    text-align: center;
}

.hp-list {
    font-size: 30px;
    color: black;
}